body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/Cinderella/CinderellaCover.png);
  background-size: cover;
}

@font-face {
    font-family: 'Cinderella';
    src: url('../fonts/Cinderella.ttf');
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
}

li::before {
  content: url('../images/Cinderella/CinderellaIcon.png');
  margin: 2px;
}

#container {
  margin-left: auto;
  margin-right: auto;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #c0e4fe;
  box-sizing: border-box;
  padding: 10px;
}

.col-60 img {
  float: left;
  width: 32%;
  margin: .6%;
}

h1 {
  color: #c0e4fe;
  font-family: 'Cinderella';
  text-align: center;
  font-size: 3em;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
